[user]
	name = Victor Anikeenko
	email = viktor.anikeenko@progforce.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	tool = gvimdiff
[alias]
	co = checkout
	st = status
	br = branch
